{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "accommodation": "./src/domains/accommodation",
          "actions": "./src/actions",
          "assets": "./src/common/assets",
          "common": "./src/common",
          "components": "./src/common/components",
          "constants": "./src/common/constants",
          "data": "./src/common/data",
          "domains": "./src/domains",
          "reducers": "./src/reducers",
          "services": "./src/services",
          "share": "./src/domains/share",
          "src": "./src",
          "styles": "./src/common/styles",
          "transport": "./src/domains/transport",
          "trips": "./src/domains/trips",
          "user": "./src/domains/user",
          "weather": "./src/domains/weather"
        }
      }
    ]
  ]
}
