{
    "plugins": [
      [
        "module-resolver",
        {
        "alias": {
          "src": "./src",
          "state": "./src/state",
          "common": "./src/common",
          "assets": "./src/common/assets",
          "components": "./src/common/components",
          "constants": "./src/common/constants",
          "data": "./src/common/data",
          "services": "./src/common/services",
          "styles": "./src/common/styles",
          "domains": "./src/domains",
          "accommodation": "./src/domains/accommodation",
          "budget": "./src/domains/budget",
          "map": "./src/domains/map",
          "myTrips": "./src/domains/myTrips",
          "notes": "./src/domains/notes",
          "share": "./src/domains/share",
          "transport": "./src/domains/transport",
          "user": "./src/domains/user",
          "weather": "./src/domains/weather"
         }
        }
      ]
    ]
}
